.splash {
    display: flex;
    align-items: center;
  }
  .more{
    font-size: 100px;
    color:#488bf4;
    
  }
  .image-splash{
    height:110px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: block;    
    
  }