page-modal-chest {
    .sample-modal-page {
        background: #554f4f;
        height:20%;
        width:100%;
        margin-top: 150px;
                
    }
    .image-modalchest{
        height:100px;
        width:100px;
        margin-bottom: 30px;
        
    }
}
