arena-details {
    background: #488bf4;    
}
.name_card{
  border-top: 3px solid transparent;
  border: 3px solid transparent;
  border-radius: 20px;
  
}
.image_card{
    border: 3px solid transparent;
    
}
.icon_card{
    width:100%;
    height:100%;
    padding: 1px;
    
}

.custom-icon{
    color : #488bf4;
    font-size: 30px
    
}
.custom-icon_elixir{
    font-size: 30px;
    color : #8c0296;  
}
.row_elixir{
    background-color: #3FBFBF;
}