modal-chest {
   
}
.sample-modal-page {
    padding-top: 70px;
    background: rgba(0,0,0,0.85);
}
.name-card{
margin-left:-15px; 
}
.custom_elixir{
    font-size: 15px;
    color : #8c0296;  
}
.custom_debil{
    font-size: 15px;
    color : #1c7770;  
}
.custom_rarity{
    font-size: 15px;
    color : #115685;  
}
.custom_close{
    color : #444;  
    
}