page-modal {
   .sample-modal-page {
        padding-top: 70px;
        background: rgba(0,0,0,0.85);
    }
   
}

.line-break{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
    
}
.avatar{
    min-width:45px;
    min-height:45px;
    align-items: center;
    margin: auto;
    
}
.custom_close{
    color : #444;  
    
}